.foundation-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0000FF, #2128BE);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.foundation-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.foundation-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}

.foundation-sidebar-open {
    color: #fff;
    display: none;
}

@media screen and (max-width: 1130px) {
    .home-page-second-block h5 .line, .support-our-program h5 .line {
        display: none;
    }
}

@media screen and (max-width: 1082px) {
    .foundation-sidebar-open {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .header li {
        display: none;
    }
    .header ul .logo {
        display: block;
    }
    .about-header-with-banner {
        height: 80vh;
    }
    .gallery-header-with-banner {
        height: 69vh;
    }
    .vallounteers-header-with-banner {
        height: 73vh;
    }
    .vallounters-gallery-image {
        height: 500px;
    }
    .horizontal-image {
        height: 250px;
    }
    .image-with-desc-wrapper {
        width: 33.333%;
    }
    .donation-header-with-banner {
        height: 58vh;
    }
    .donation-page-banner-wrapper .text {
        padding-right: 300px;
    }
    .getinvolved-header-with-banner {
        height: 70vh;
    }
}

@media screen and (max-width: 991px) {
    .home-page-banner-wrapper {
        flex-direction: column;
    }
    .home-page-banner-wrapper .text {
        padding-right: 0;
    }
    .header {
        padding: 20px;
    }
    .home-page-fist-block {
        padding-top: 200px;
    }
    .slider-container {
        width: 100%;
    }
    .about-page-banner-wrapper {
        flex-direction: column-reverse;
    }
    .about-header-with-banner {
        height: 85vh;
    }
    .about-page-banner-wrapper .text {
        padding-left: 0;
        color: #fff;
    }
    .gallery-header-with-banner {
        height: 65vh;
    }
    .vallounters-gallery-image {
        height: 300px;
    }
    .horizontal-image {
        height: 150px;
    }
    .vertical-image {
        width: 250px;
    }
    .donation-page-banner-wrapper .text {
        padding-top: 0;
    }
    .getinvolved-page-banner-wrapper .text {
        align-items: center;
        text-align: center;
        margin-top: 0;
    }
}

@media screen and (max-width: 820px) {
    .donate-item {
        width: 33.333%;
    }
    .learn-more-btn {
        width: 33.333%;
    }
    .learn-more-wrapper {
        justify-content: flex-start;
    }
    .contact-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .contact-wrapper .right-content {
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .contact-wrapper .left-content {
        width: 70%;
    }
    .vallounteers-header-with-banner {
        height: 55vh;
    }
    .donation-header-with-banner {
        height: 47vh;
    }
    .getinvolved-header-with-banner {
        height: 60vh;
    }
}

@media screen and (max-width: 800px) {
    .slider-container {
        height: 300px;
    }
    .slider-container .slider-content {
        width: 50%;
    }
    .slider-container .slider-right {
        left: 72%;
    }
    .slider-container .slider-left {
        right: 72%;
    }
    .image-with-desc-wrapper {
        width: 50%;
    }
}

@media screen and (max-width: 628px) {
    .donate-item {
        width: 50%;
    }
    .learn-more-btn {
        width: 50%;
    }
    .contact-wrapper .left-content {
        width: 100%;
    }
    .online-payment-system {
        flex-direction: column;
        max-width: 300px;
    }
    .cart-payment-item {
        max-width: 100%;
        justify-content: center;
    }
}


@media screen and (max-width: 600px) {
    .slider-container .slider-content {
        width: 80%;
    }
    .slider-container .slider-right {
        left: 86%;
    }
    .slider-container .slider-left {
        right: 86%;
    }
    .home-page-banner-wrapper img {
        height: 300px;
    }
    .home-page-fist-block {
        padding-top: 50px;
    }
    .home-page-banner-wrapper h2 {
        font-size: 30px;
    }
    .home-page-banner-wrapper h3 {
        font-size: 25px;
    }
    .header-with-banner-wrapper {
        height: auto;
    }
    .home-page-fist-block .description {
        font-size: 30px;
    }
    .home-page-fist-block .description .line {
        display: none;
    }
    .home-pabe-second-block h5, .support-our-program h5 {
        font-size: 30px;
    }
    .go-to-post-wrapper {
        margin-top: -130px;
    }
    .mission-item {
        flex-direction: column;
    }
    .mission-item h5 {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .mission-info iframe {
        width: 100%;
    }
    .gallery-header-with-banner {
        height: 42vh;
    }
    .photos-wrapper img, .list-element img {
        width: 50%;
    }
    .vallounteers-header-with-banner {
        height: 41vh;
        margin-bottom: 150px;
    }
    .vertical-image {
        width: 200px;
    }
    .vallounters-gallery-image {
        height: 250px;
    }
    .horizontal-image {
        height: 125px;
    }
    .donation-header-with-banner {
        height: 100%;
        padding-bottom: 20px;
    }
    .getinvolved-header-with-banner {
        height: 40vh;
    }
}

@media screen and (max-width: 450px) {
    .slider-container {
        height: 230px;
    }
    .white-btn {
        font-size: 12px;
    }
    .image-with-desc-wrapper {
        width: 100%;
    }
    .vallounteers-header-with-banner .galler-banner-text h2 {
        font-size: 30px;
    }
    .vallounters-gallery-image {
        height: 200px;
    }
    .horizontal-image {
        height: 100px;
    }
    .vertical-image {
        width: 100%;
    }
}

